// Color Variables
$primary-color: #beddce;
$secondary-color: #2a2d40;
$text-color: #878a8a;
$text-color-dark: #202020;
$text-color-light: #9da0af;
$body-color: #fff;
$border-color: #e7e7e7;
$black: #000;
$white: #fff;
$gray: #f0f6f6;

// Font Variables
$primary-font: 'Archivo', sans-serif;
$secondary-font: 'Frank Ruhl Libre', serif;
$icon-font: 'themify';